/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f0f2f5; /* light gray background */
  font-family: 'Segoe UI', sans-serif;
}

.container {
  background-color: #fff; /* white card background */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
